.services {
    @mixin atMedium {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}

.services > div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.service-item {
    text-align: center;
    img {
        opacity: 1;
        transition: opacity .3s ease-out;
    }
}

.service-item:hover {
    h3 {
        color: $mainOrange;
    }
    img {
        opacity: 0.6;
        background-color: $mainOrange;
    }
}